name: Collect Non-Python statistics

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write 
      issues: none
      packages: none
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Fetch latest data
      env:
        GH_TOKEN: ${{secrets.GH}}
        PEPY_TOKEN: ${{secrets.PEPY}}
      run: |-
        python -m pip install -r requirements.txt
        python scripts/corese.py
        python scripts/render.py
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
